body {

    background-color: #E3E1DA;

    margin: 4%;

    padding: 4%;

}

/* Text Desings */

h1 {

    text-align: center;

    font-size: 135px;

    margin: 30px;

    color: #a88c7d;

    font-family: "Fjalla One", sans-serif;
    
    font-weight: 400;
    
    font-style: normal;

}

h2 {

    text-align: center;

    font-size: 60px;

    color: #F0EFEB;

    background: #a88c7d;

    padding: 2%;

    font-family: "Josefin Sans", sans-serif;
    
    font-optical-sizing: auto;
    
    font-weight: <weight>;
    
    font-style: normal;

}

p {

    font-size: 20px;

    color: #6b5a50;

    font-family: "Lexend Deca", sans-serif;
    
    font-optical-sizing: auto;
    
    font-weight: <weight>;
    
    font-style: normal;

}

.slogan {

    font-family: "Story Script", sans-serif;
    
    font-weight: 900;
    
    font-style: normal;

}

/* Fonts */