body {

    background-color: #E3E1DA;

    margin: 4%;

    padding: 4%;

}

/* Text Desings */

h1 {

    text-align: center;

    font-size: 135px;

    margin: 30px;

    color: #a88c7d;

    font-family: "Fjalla One", sans-serif;
    
    font-weight: 400;
    
    font-style: normal;

}

h2 {

    text-align: center;

    font-size: 60px;

    color: #F0EFEB;

    background: #a88c7d;

    padding: 2%;

    font-family: "Josefin Sans", sans-serif;
    
    font-optical-sizing: auto;

}

p {

    font-size: 20px;

    color: #6b5a50;

    font-family: "Lexend Deca", sans-serif;
    
    font-optical-sizing: auto;

}

.slogan {

    font-family: "Story Script", sans-serif;
    
    font-weight: 900;
    
    font-style: normal;

}

.story {

    font-family: "Story Script", sans-serif;
    
    font-weight: 900;
    
    font-style: normal;

}

#about {

    border-width: 10px;

    border-color: #6b5a50;

    border-style: double;

    padding: 2%;

    margin: 1%;

    border-radius: 10px;

}

#cta {

    text-align: center;

    color: #6b5a50;

    font-family: "Fjalla One", sans-serif;

    font-weight: 900;

    font-size: 60px;

    margin: 2%;

}



/* Navigation Bar */

ul {

    padding: 0%;

    list-style-type: none;

    display: flex;
 
    background-color: #a88c7d;

    position: fixed;

    top: 0%;

    width: 100%;

    margin: 0%;

    margin-left: -50px;

    justify-content: center;

    
}

ul li {

    float: left;

}

ul li a {

    text-decoration: none;

    padding: 14px 16px;

    font-family: "Josefin Sans",sans-serif;

    color: #F0EFEB;

    display: block;

}

ul li a:hover {

    background-color: #E3E1DA;

    color: #a88c7d;

}

.card {

    border-width: 10px;

    border-color: #6b5a50;

    border-style: double;

    padding: 2%;

    margin: 1%;

    border-radius: 10px;

    display: flex;

    align-items: center;

}

.images {

    border-color: #6b5a50;

    border-style: solid;

    border-width: 3px;

    margin: 3%;

}

h4 {

    color: #6b5a50;

    font-family: "Fjalla One", sans-serif;

    font-size: xx-large;

    margin: 1%;

    text-align: center;

    margin: 2%;

}