body {

    background-color: #E3E1DA;

    margin: 4%;

    padding: 4%;

}

/* Text Desings */

h1 {

    text-align: center;

    font-size: 135px;

    margin: 30px;

    color: #a88c7d;

    font-family: "Fjalla One", sans-serif;
    
    font-weight: 400;
    
    font-style: normal;

}

h2 {

    text-align: center;

    font-size: 60px;

    color: #F0EFEB;

    background: #a88c7d;

    padding: 2%;

    font-family: "Josefin Sans", sans-serif;
    
    font-optical-sizing: auto;

}

p {

    font-size: 20px;

    color: #6b5a50;

    font-family: "Lexend Deca", sans-serif;
    
    font-optical-sizing: auto;

}

.slogan {

    font-family: "Story Script", sans-serif;
    
    font-weight: 900;
    
    font-style: normal;

}

/* Borders */

.skibidi {

    border-width: 10px;

    border-color: #6b5a50;

    border-style: double;

    padding: 2%;

    margin: 1%;

    border-radius: 10px;

    display: inline-block;

    text-align: center;

}

#skibdishirt {

    border-width: 3px;

    border-color: #6b5a50;

    border-style: solid;

}

.six7 {

    border-width: 10px;

    border-color: #6b5a50;

    border-style: double;

    padding: 2%;

    margin: 1%;

    border-radius: 10px;

    display: inline-block;

    text-align: center;

    align-items: center;

}

#sspants {

    border-width: 3px;

    border-color: #6b5a50;

    border-style: solid;

}

.crocs {

    border-width: 10px;

    border-color: #6b5a50;

    border-style: double;

    padding: 2%;

    margin: 1%;

    border-radius: 10px;

    display: inline-block;

    text-align: center;

}

#cimage {

    border-width: 3px;

    border-color: #6b5a50;

    border-style: solid;

}

/* Descriptions */

#stitle {

    font-family: "Fjalla One", sans-serif;

    font-size: xx-large;

}

.title {

    font-size: small;

}